<h1><%= t('.header', title: @test_passage.test.title ) %></h1>

<% if @test_passage.success? %>
  <h2 class="success">
	  <p><%= t('.success', result: @test_passage.percent_result ) %></p>
  </h2>
<% else %>
  <h2 class="fail">
    <p><%= t('.fail', result: @test_passage.percent_result ) %></p>
  </h2>
<% end %>

<p><%= link_to t('.tests'), tests_path %></p>
