<h1>The <%= @test_passage.test.title %> was been completed!</h1>

<% if @test_passage.success? %>		
  <h2 class="success">
	  <p>You passed the test. Your percentage is: <%= @test_passage.percent_result %></p>
  </h2>
<% else %>
  <h2 class="fail">
    <p>You didn't pass the test. Your percentage is: <%= @test_passage.percent_result %></p>
  </h2>
<% end %>

<p><%= link_to "Tests", tests_path %></p>
