<div class="container fixed-bottom">
  <div class="row justify-content-center mt-5">
    <div class="col col-md-4">
      <p>
        <%= github_url('alexx202', 'TestGuru') %>:
        Учебный проект в онлайн-школе <%= link_to 'Thinknetica', 'https://thinknetica.com/' %>
      </p>
      <p>Приложение предназначено для создания, управления и прохождения различных тестов</p>
      <p><%= current_year %></p>
    </div>
  </div>
</div>
